<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>User Front</title>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+one' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Oxygene' rel='stylesheet' type='text/css' />

    <!-- bootstrap date-time picker -->
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <!-- data table -->
    <link href="/css/jquery.dataTable.min.css" rel="stylesheet" />
    <link href="/css/dataTables.bootstrap.min.css" rel="styleshet" />

    <!-- Custom CSS -->
    <!--<link href="css/scrolling-nav.css" rel="stylesheet" />-->
    <link href="/css/main.css" rel="stylesheet" />
</head>
<body>
    
</body>
</html>